.box
  .row
    .col-sm-7
      h2 Do you really think know your friends?
      p Test your knowlege of your what your Facebook friends like
      a.btn.btn-fb(ng-click="login()", ng-show="facebookReady") Start the game
        span &nbsp;&raquo;
      p &nbsp;
      //- div.desc
      //-   strong How to play?
      //-   ol
      //-     li Click start accept facebook connection
      //-     li Click on the person you think liked the like
    .col-sm-5.likes-block
      img(src="http://graph.facebook.com/yodlmarket/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/TheNightmareBeforeChristmas/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/bottlr/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/AngularJs/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/ChamonixFans/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/BrewdogBarStockholm/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/FacebookDevelopers/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/125639027483876/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/168790893185423/picture?app_id=461616480550980&width=75&height=75")

      img(src="http://graph.facebook.com/Futurama/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/232084150150482/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/207502655959124/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/FlightoftheConchords/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/thoughtsfromhighplaces/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/inspiremontblanc/picture?app_id=461616480550980&width=75&height=75")
      img(src="http://graph.facebook.com/biljettapp/picture?app_id=461616480550980&width=75&height=75")
