doctype html
html(ng-app="knowYourFriends")
  head
    title= title

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/css/styles.css")

    script.
      //Console.log Fallback for Internet Explorer
      if(!window.console){window.console = new function(){ this.log=function(str){}; this.info=function(str){}; };};

    //- Socket.io
    script(src="/socket.io/socket.io.js")

    //- Angular
    script(src="/lib/angular.min.js")
    script(src="/lib/angular/angular-route.min.js")
    script(src="/lib/angular-facebook/lib/angular-facebook.js")

    //- Lib
    script(src="/lib/underscore-min.js")

    //- Services
    script(src="/js/game.js")
    script(src="/js/services/socket.js")

    //- Controllers
    script(src="/js/controllers/MainCtrl.js")
    script(src="/js/controllers/HomeCtrl.js")
    script(src="/js/controllers/PlayCtrl.js")

    script(src="/js/app.js")

  body(ng-controller="MainCtrl")
    .container
      .header.title Do you know what your friends&nbsp;
        img.like-icon(src="images/like_icon.png")
        | ?
        .score.pull-right {{ guesses.right }}/{{ guesses.total }}


      div(ng-view)
      block mainContent

      .footer
        .pull-right Created at FB mobile hack sthlm 2012
        .pull-left &copy; 2014&nbsp;
          a(href="http://spathon.com") Patrik
          | &nbsp;
          a(href="https://twitter.com/spathon") Spathon

      .modal-msg(ng-show="modalMsg")
      .modal-msg-text(ng-show="modalMsg", ng-class="'modal-'+ modalMsg.type") {{ modalMsg.msg }}

