
@import "bootstrap/bootstrap"

@import "vars"
@import "mixins"
@import "tags"
@import "helpers"


.container
  max-width 800px
  margin auto
  padding 30px 10px

.header.title
    font-size 30px

.footer
  font-size 14px
  padding 5px 10px
  color: #777

.title
  background $green
  text-shadow 1px 1px 0 $darkGreen
  color #fff
  font-size 20px
  border 1px solid $darkGreen
  // #89c1a7
  padding 10px
  border-radius 3px 3px 0 0
  margin 0
  font-weight normal


.box
  background #fff
  border 1px solid #bbb
  border-top none
  border-radius 0 0 3px 3px
  padding 10px



.btn
  padding 5px 7px
  border 1px solid #eee
  border-radius 3px
  display inline-block

.btn-fb
  background #3b5998
  border-color darken(#3b5998, 20%)
  text-shadow 1px 1px 0 black
  color #fff
  font-size 25px
  span
    transition all .4s

.btn-fb:hover
  background darken(#3b5998, 20%)
  border-color darken(#3b5998, 30%)
  color #fff
  span
    padding-left 10px



.like-icon
  width 24px


.likes-block
  // float right
  // max-width 300px

.likes-block img
  float left
  width 25%

.likes-block img:hover
  scale(1.2)
  transition all .1s
  position relative
  z-index 1


.game
  word-wrap break-word
.game img
  width 100%
  display block

.who
  text-align center

.friend
  .title, .box, img
    transition all .2s
    cursor pointer
  .title
    background $blue
    border-color $darkBlue
    text-shadow 1px 1px 0 $darkBlue

.friend:hover
  .title
    background #96becd
  .box
    background #eee
    overflow hidden
  img
    scale(1.1)

.info
  background #fff
  padding 0 8px
  color #79b197
  text-shadow none
  border-radius 100%
  margin-top 4px
  font-size 14px
  border 1px solid #79b197
  font-family Georgia, serif
  text-transform lowercase
  position relative

.hint
  position absolute
  bottom 175%
  right 9000px
  background #fff
  padding 5px
  border 1px solid #79b197
  border-radius 3px
  transition bottom .2s
  &:before
    ba 100% auto auto 5px
    width 0
    height 0
    border 8px solid #79b197
    border-color #79b197 transparent transparent
  &:after
    ba 100% auto auto 7px
    width 0
    height 0
    border 6px solid #fff
    border-color #fff transparent transparent

.info:hover .hint
  display block
  bottom 126%
  right -4px





.modal-msg
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  background #000
  opacity .7

.modal-msg-text
  position absolute
  top 50%
  left 50%
  background #fff
  padding 30px 10px
  width 250px
  border 4px solid #86aebd
  margin -50px 0 0 -125px
  border-radius 8px
  text-align center

.modal-right,
.modal-wrong
  font-size 20px
  color #fff

.modal-right
  background $green
  border-color $darkGreen
  text-shadow 1px 1px $darkGreen

.modal-wrong
  background $red
  border-color $darkRed
  text-shadow 1px 1px $darkRed
