// http://www.colourlovers.com/palette/147033/Icing_on_the_Cake
$brown = #B1654B
// 177,101,75
$red = #F79273
$darkRed = darken($red, 20%)
// 247,146,115
$orange = #FDC08E
// 253,192,142
$yellow = #FFF6B9
// 255,246,185
$green = #99D1B7
$darkGreen = darken($green, 20%)
// 153,209,183

$blue = #a6cedd
$darkBlue = darken($blue, 20%)

$link = #769ead
$linkHover = #567e8d
